.listing-picker {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.listing-picker-label {
  color: #eee;
  margin-right: 10px;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
}

.listing-picker-input:focus {
  border-color: #012367;
}
.listing-picker-input {
  background-color: rgb(50, 50, 50);
  color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}
