#root {
  margin: 0 auto;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  color: #8e8e8e43;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0.2rem;
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: orange;
}
body {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  place-items: center;
  min-width: 320px;
  margin: 2rem 0;
  min-height: 80vh;
  background-color: #121212;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
}

ul,
ol {
  list-style: none;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  backdrop-filter: blur(5px); /* Apply the blur effect */
  z-index: 999; /* Ensure the overlay is above other elements */
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1000; /* Ensure the modal is above the overlay */
}

.top-listing-record {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  align-items: center;
  margin-bottom: 20px;
  @media screen and (max-width: 768px) {
    gap: 20px;
  }
}
.total-calories {
  color: #eee;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.total-calories-number {
  @media screen and (min-width: 768px) {
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 6px;
    padding: 8px 12px;
  }
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}
.total-calories-title {
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}
